.language_switch_container {
  justify-content: center;
  align-items: center;
  cursor: pointer;
  user-select: none;
  outline: none;
  display: flex;
  border: none;
  background-color: transparent;
}
  
.language_switch_handle {
  color: var(--language-switch-color);
  font-weight: 900;
  padding: 5px;
  transition: .15s;
  font-size: 25px;
  position: relative;
  min-width: 36px;
  height: 34px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
}

.language_switch_label {
  position: absolute;
  inset: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

@media (hover: hover) and (pointer: fine) {
  .language_switch_handle:hover {
    color: var(--accent-color)
  }
}

@media (hover: none) {
  .language_switch_handle {
    color: var(--accent-color);
  }
}
