:root {
  font-family: ui-sans-serif,system-ui,-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Helvetica Neue,Arial,Noto Sans,sans-serif,Apple Color Emoji,Segoe UI Emoji,Segoe UI Symbol,Noto Color Emoji;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.noselect {
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Safari */
  -khtml-user-select: none; /* Konqueror HTML */
  -moz-user-select: none; /* Old versions of Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
  user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome, Edge, Opera and Firefox */
}

@font-face {
  font-family: "Fet";
  font-style: normal;
  font-weight: 400;
  src: url("/fonts/Fet.ttf")
}

a {
  text-decoration: inherit;
}

body {
  margin: 0;
  display: flex;
  color: var(--text-color);
  background-color: var(--bg-color);
  align-items: flex-start;
  min-width: 320px;
  min-height: 100vh;
  scrollbar-gutter: stable;
}

* {
  scrollbar-width: 4px;
  scrollbar-color: var(--skill-color) rgba(255, 255, 255, 0);
}

*::-webkit-scrollbar {
  height: 12px;
  width: 12px;
}

*::-webkit-scrollbar-track {
  background: rgba(255, 255, 255, 0);
}

*::-webkit-scrollbar-thumb {
  background-color: var(--skill-color);
  border-radius: 5px;
  border: 3px solid rgba(255, 255, 255, 0);
}

.white_svg {
  filter: invert(100%) sepia(0%) saturate(7434%) hue-rotate(31deg) brightness(95%) contrast(113%);
}

.transition_fix {
  
}